:root {
  --bg-color: #0a192f;
  --text-color: #d1d5db;
  --second-color: #e64e4e;
  --h1-color: #ccd6f6;
  --h2-color: #8892b0;
}
.workpopup-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
  z-index: 10;
}
.workpopup-conteiner {
  background-color: white;
  width: 90%;
  height: 90vh;
  border-radius: 2rem;
  padding: 2rem;
  background-color: var(--bg-color);
  box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
.workpopup-close {
  float: right;
  font-size: 2rem;
  font-weight: bold;
  color: var(--second-color);
  transition: all 0.3s;
}
.workpopup-close:hover {
  filter: drop-shadow(5px 5px 5px rgba(236, 114, 114, 0.75));
}
.workpopup-img {
  position: relative;
  top: 5%;
  margin: auto;
  background-color: white;
  height: 8rem;
}
.workpopup-imgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1rem;
  gap: 1rem;
  cursor: pointer;
  list-style: none;
}
.workpopup-img {
  transition: all 0.3s;
}
.workpopup-img.clicked {
  border: 3px solid var(--second-color);
}
.worlpupup-main-img {
  margin: auto;
  width: 40rem;
  max-height: 25rem;
  padding-top: 2rem;
}
.workpopup-img:hover {
  transform: scale(1.1);
}
.workpopup-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  gap: 1.25rem;
}
.clicked {
  border: 3px solid var(--second-color);
}
.empty {
  display: none;
}
@media (max-width: 540px) {
  .workpopup-img {
    height: 5rem;
  }
}
@media (max-width: 400px) {
  .workpopup-img {
    height: 2.5rem;
  }
}
