:root {
    --bg-color: #0a192f;
    --text-color: #d1d5db;
    --second-color: #e64e4e;
    --h1-color: #ccd6f6;
    --h2-color: #8892b0;
}
.contact{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 1rem 3rem 4rem;
}
.contact-text{
    text-align: center;
}
.contact-form{
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
}
.contact-form-inputs{
    border-radius: 10px;
    padding: 0.5rem;
    box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: var(--h1-color);
}
.btn-aligne{
    max-width: 11rem;
    margin: auto;
}