:root {
  --bg-color: #0a192f;
  --text-color: #d1d5db;
  --second-color: #e64e4e;
  --h1-color: #ccd6f6;
  --h2-color: #8892b0;
}
body {
  font-family: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #0a192f;
  --text-color: #d1d5db;
}
.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100vw;
  height: 5rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 1rem;
  z-index: 10;
}
.logo {
  width: 8rem;
}
.menu-list {
  display: flex;
  align-items: center;
  list-style: none;
  font-weight: bold;
  margin: 0 2em;
}
li {
  padding: 0rem 1rem;
  cursor: pointer;
}
.menu-list-hover {
  padding: 0rem 1rem;
  cursor: pointer;
  transition: all 0.3s;
}
.menu-list-hover:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
  padding: 1rem 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
}
.menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-mobile-list {
  padding: 1.5rem 0rem;
  font-size: 2.5rem;
  font-weight: bold;
}
.menu-mobile-list:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
  width: 50%;
  text-align: center;
  border-radius: 20px;
}
@media (max-width: 768px) {
  .menu-list {
    display: none;
  }
}

.hamburger-btn {
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;
  padding: 0rem 1rem;
}
@media (min-width: 768px) {
  .hamburger-btn,
  .menu-mobile {
    display: none;
  }
}
.social-icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: -100px;
  top: 35%;
  z-index: -10;
}
.social-icon {
  color: var(--text-color);
  height: 60px;
  width: 160px;
  background-color: #0a66c2;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 0.5rem;
  box-shadow: 10px 7px 5px 0px rgba(0, 0, 0, 0.75);
}
@media (max-width: 660px) {
  .social-icon {
    height: 50px;
    width: 150px;
    margin-bottom: 0.5rem;
  }
}
.social-icon-text {
  display: grid;
  grid-template-columns: 100px 60px;
  align-items: center;
  font-weight: bold;
}
.icon-size {
  font-size: 2rem;
  margin-left: -0.5rem;
}
.social-icon:hover {
  transition: 0.5s;
  margin-left: 100px;
}
.git-color {
  background-color: black;
}
.res-color {
  background-color: #ee9453;
}
.mail-color {
  background-color: #f74747;
}
